body {
    background-color: black;
    color: white;
    font-family: monospace;
    
    height: 100vh;
}

.nav {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

.logo a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style: none;
}

li {
    justify-content: space-between;
    margin: 10px;
    padding-left: 20px;
    border-left: 1px solid white;
    
}

li a{
    text-decoration: none;
    color: white;

}

.intro {
    font-size: 28px;
    text-align: center;
}

h1 {
    margin: 100px;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
}

.para2 {
    font-size: 16px;
    font: 100%;
    text-align: center;
    line-height: 1.5em;
    display: flex;
    width: 800px; 
    margin: auto;
}

.para3 {
    font-size: 26px;
    text-align: center;
    line-height: 1.5em;
    margin-top: 25px;
}

.products {
    text-align: center;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9 {
    display: inline-block;
    width: 50vh;
    height: 50vh;
}

